
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">

            <div class="sidebar-brand-text mx-3">Sistema de Convocações</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Configurações de Convocação</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" >
                <div class="bg-white py-2 collapse-inner rounded">
                    <a style="white-space: normal;" class="collapse-item" href="@Url.Content("~/Processos/Edit/"+@ViewBag.ProcessoId)">Editar Convocação.</a>
                    <a style="white-space: normal;"class="collapse-item" href="@Url.Content("~/Cargo/Index/"+@ViewBag.ProcessoId)"> Cargos/Cursos</a>
                    <a style="white-space: normal;"class="collapse-item" href="@Url.Content("~/DadosConvocados/Create/"+@ViewBag.ProcessoId)">Upload de Convocados</a>
                    <a style="white-space: normal;"class="collapse-item" href="@Url.Content("~/Documentacao/Index/"+@ViewBag.ProcessoId)">Documentação da Convocação.</a>
                    <a style="white-space: normal;"class="collapse-item" href="@Url.Content("~/TipoDocumento/Index/"+@ViewBag.ProcessoId)">Tipo de Documentação para envio</a>
                    <a style="white-space: normal;"class="collapse-item" href="@Url.Content("~/Processos/Delete/"+@ViewBag.ProcessoId)">Excluir Convocação</a>
                </div>
            </div>
        </li>
        <hr class="sidebar-divider">
    </ul>
</div>