@model SisConv.Application.ViewModels.ProcessoViewModel

@{
    Layout = "~/Views/Shared/Processos/Configuracoes/_LayoutProcessosConfiguracoes.cshtml";
    ViewBag.Title = "Delete";
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><b>@ViewBag.dadosProcesso.Nome</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" style="margin-bottom:-30px !important">
                <div class="panel-heading">
                    <b>Você tem certeza que deseja excluir esse item?</b>
                </div>
            </div>
            <div class="panel-body">
                <div>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DataCriacao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DataCriacao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TextoDeAceitacaoDaConvocacao)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TextoDeAceitacaoDaConvocacao)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TextoInicialTelaConvocado)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TextoInicialTelaConvocado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TextoParaDesistentes)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TextoParaDesistentes)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Ativo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Ativo)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                            <button type="button" class="btn btn-secondary" title="" data-placement="left" onclick="history.back();">Voltar</button>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
