@model SisConv.Application.ViewModels.ConvocacaoViewModel
@{
    Layout = "~/Views/Shared/Processos/LayoutProcessosPainel.cshtml";
    ViewBag.Title = "Lista de Candidatos";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>
<script src="~/Scripts/Convocacao.js"></script>

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><b>@ViewBag.DadosConvocacao.Nome</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" style="margin-bottom:-30px !important">
                <div class="panel-heading">
                    <b> @ViewBag.DadosCargo.Nome</b>
                </div>
            </div>
            <br />
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                Inscrição
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                CPF
                            </th>
                            <th>
                                Pontuação
                            </th>
                            <th>
                                Posição
                            </th>
                            <th>
                                Resultado
                            </th>
                            <th>Convocar?</th>
                        </tr>

                        @foreach (var item in ViewBag.ListaCandidatos)
                        {
                            <tr>
                                <td>
                                    @item.Inscricao
                                </td>
                                <td>
                                    @item.Nome.ToString().ToUpper()
                                </td>
                                <td>
                                    @item.Cpf
                                </td>
                                <td>
                                    @item.Pontuacao
                                </td>
                                <td>
                                    @item.Posicao
                                </td>
                                <td>
                                    @item.Resultado.ToString().ToUpper()
                                </td>
                                <td>@Html.CheckBox("Convocado", new { Value = item.ConvocadoId })</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="7" align="center">
                                <button type="button" class="btn btn-primary" id="envia_selecionados">Enviar Candidatos Selecionados</button>
                                <input type="button" class="btn btn-default" value="Voltar" onclick="history.back();" />
                                <input type="hidden" id="mostraConfirmacao" value="@ViewBag.Confirmacao" />
                            </td>
                        </tr>
                    </table>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            @using (Html.BeginForm("Create", "Convocacao", FormMethod.Post, new { form = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h4 class="modal-title">Convocação</h4>
                                    </div>
                                    <div class="modal-body">
                                        <br />
                                        <span id="disc"></span>
                                        @Html.HiddenFor(model => model.CandidatosSelecionados)
                                        @Html.HiddenFor(model => model.ProcessoId, new { Value = ViewBag.ProcessoId })
                                        @Html.HiddenFor(model => model.Ativo, new { Value = true })
                                        @Html.Hidden("Cargo", new { Value = ViewBag.DadosCargo.CargoId })
                                        <h5 class="modal-title">Preencha os dados abaixo para seguir com a convocação:</h5>
                                        <br />
                                        <form class="form-horizontal">
                                            <fieldset>

                                                <div class="form-group">
                                                    <label for="DataEntregaDocumentos" class="col-lg-10 control-label">
                                                        <b>Data da entrega dos documentos.</b>
                                                    </label>
                                                    <div class="col-lg-10">
                                                        @Html.TextBoxFor(model => model.DataEntregaDocumentos)<br /><br />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="HorarioEntregaDocumento" class="col-lg-10 control-label">
                                                        <b>Horário de entrega dos documentos.</b>
                                                    </label>
                                                    <div class="col-lg-10">
                                                        @Html.TextBoxFor(model => model.HorarioEntregaDocumento)<br /><br />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="EnderecoEntregaDocumento" class="col-lg-10 control-label">
                                                        <b>Endereço de Entrega dos documentos.</b>
                                                    </label>
                                                    <div class="col-lg-10">
                                                        @Html.TextBoxFor(model => model.EnderecoEntregaDocumento)<br /><br />
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="Submit" class="btn btn-success">Salvar</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" id="mensagemDadosConvocados" data-toggle="modal" data-target="#myModal" style="display: none"></button>
                    <button type="button" class="btn btn-primary" id="mensagem_erro" data-toggle="modal" data-target="#myModal2" style="display: none"></button>
                    <button type="button" class="btn btn-primary" id="mensagem_sucesso" data-toggle="modal" data-target="#myModal3" style="display: none"></button>
                    <button type="button" class="btn btn-primary" id="mensagemNenhumCandidato" data-toggle="modal" data-target="#myModal4" style="display: none"></button>

                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">

                                    <h4 class="modal-title">Atualizar Convocação de Candidato.</h4>
                                </div>
                                <div class="modal-body">
                                    <br />
                                    <span id="disc"></span>
                                    <h5 class="modal-title">Dados atualizados com Sucesso</h5>
                                    <br />
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Atualizar Convocação de Candidato.</h4>
                                </div>
                                <div class="modal-body">
                                    <br />
                                    <span id="disc"></span>
                                    <h5 class="modal-title">Erro ao atualizar dados.</h5>
                                    <br />
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal4" role="dialog">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">

                                    <h4 class="modal-title">Atualizar Convocação de Candidato.</h4>
                                </div>
                                <div class="modal-body">
                                    <br />
                                    <span id="disc"></span>
                                    <h5 class="modal-title">Escolha ao menos um candidato para prosseguir com a convocação.</h5>
                                    <br />
                                </div>
                                <div class="modal-footer">

                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
