@model SisConv.Application.ViewModels.ConvocadoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    <h4>ConvocadoViewModel</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(model => model.ProcessoId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.ProcessoId, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.ProcessoId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Inscricao, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Inscricao, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Inscricao, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Nome, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Mae, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Mae, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Mae, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sexo, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sexo, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Sexo, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nascimento, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nascimento, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Nascimento, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Documento, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Documento, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Documento, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cpf, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cpf, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Cpf, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Telefone, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Telefone, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Telefone, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Celular, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Celular, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Celular, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Endereco, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Endereco, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Endereco, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Numero, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Numero, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Numero, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Complemento, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Complemento, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Complemento, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bairro, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bairro, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Bairro, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cidade, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cidade, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Cidade, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Uf, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Uf, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Uf, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cep, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cep, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Cep, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cargo, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Cargo, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Cargo, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CargoId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.CargoId, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.CargoId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pontuacao, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pontuacao, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Pontuacao, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Posicao, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Posicao, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Posicao, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Resultado, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Resultado, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Resultado, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Naturalidade, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Naturalidade, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Naturalidade, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pai, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pai, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Pai, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OrgaoEmissor, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.OrgaoEmissor, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.OrgaoEmissor, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EstadoCivil, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.EstadoCivil, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.EstadoCivil, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Desistente, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Desistente, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Desistente, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataEntregaDocumentos, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataEntregaDocumentos, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.DataEntregaDocumentos, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConvocacaoId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.ConvocacaoId, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.ConvocacaoId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StatusConvocacao, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.StatusConvocacao, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.StatusConvocacao, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StatusContratacao, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.StatusContratacao, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.StatusContratacao, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DataNascimento, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataNascimento, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.DataNascimento, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FatorSanguineo, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.FatorSanguineo, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.FatorSanguineo, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Doador, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Doador, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Doador, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Estado, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Estado, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Estado, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Recados, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Recados, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Recados, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nacionalidade, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nacionalidade, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Nacionalidade, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GrauInstrucao, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.GrauInstrucao, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.GrauInstrucao, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.InstituicaoEnsino, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.InstituicaoEnsino, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.InstituicaoEnsino, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TelefoneIES, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.TelefoneIES, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.TelefoneIES, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Curso, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Curso, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Curso, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HorarioAulaIes, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.HorarioAulaIes, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.HorarioAulaIes, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PeriodoAtual, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.PeriodoAtual, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.PeriodoAtual, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ColacaoGrau, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.ColacaoGrau, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.ColacaoGrau, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Agencia, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Agencia, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Agencia, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NomeAgencia, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.NomeAgencia, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.NomeAgencia, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ContaCorrente, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.ContaCorrente, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.ContaCorrente, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default"/>
        </div>
    </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}