@model IEnumerable<SistemaDeConvocacoes.Application.ViewModels.ConvocadoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" aria-describedby="mydesc">
<tr>
    <th scope="col">
        @Html.DisplayNameFor(model => model.ProcessoId)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Inscricao)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Nome)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Mae)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Sexo)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.DataNascimento)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Documento)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Cpf)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Telefone)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Celular)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Endereco)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Numero)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Complemento)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Bairro)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Cidade)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Uf)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Cep)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Cargo)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.CargoId)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Pontuacao)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Posicao)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Resultado)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Naturalidade)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Pai)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.OrgaoEmissor)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.EstadoCivil)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Desistente)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.DataEntregaDocumentos)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.ConvocacaoId)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.StatusConvocacao)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.StatusContratacao)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.DataNascimento)
    </th>
    <th scope="col"
        @Html.DisplayNameFor(model => model.FatorSanguineo)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Doador)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Uf)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Recados)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Nacionalidade)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.GrauInstrucao)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.InstituicaoEnsino)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.TelefoneIES)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Curso)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.HorarioAulaIes)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.PeriodoAtual)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.ColacaoGrau)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.Agencia)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.NomeAgencia)
    </th>
    <th scope="col">
        @Html.DisplayNameFor(model => model.ContaCorrente)
    </th>
    <th scope="col"></th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProcessoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inscricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pontuacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posicao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resultado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naturalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgaoEmissor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoCivil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desistente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntregaDocumentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConvocacaoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusConvocacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusContratacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatorSanguineo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrauInstrucao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstituicaoEnsino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneIES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorarioAulaIes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoAtual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColacaoGrau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeAgencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContaCorrente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.ConvocadoId}) |
            @Html.ActionLink("Details", "Details", new {id = item.ConvocadoId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.ConvocadoId})
        </td>
    </tr>
}
</table>