@{
    Layout = "~/Views/Shared/Convocacao/DocumentacaoConvocado/_LayoutConvocacaoDocumentacaoConvocado.cshtml";
    ViewBag.Title = "DocumentacaoConvocado";
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><b>@ViewBag.dadosConvocado.Nome</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="container" style="width:auto !important">
                        <div class="form-horizontal">
                            <p class="lead">Parabéns você foi Convocado(a).</p>
                            <p class="lead">@ViewBag.dadosProcesso.TextoDeAceitacaoDaConvocacao</p>
                            <p class="lead">Para dar prosseguimento com a sua convocação é de muita importância que você realize as seguintes etapas: </p>
                            <hr class="my-4">
                            <p class="lead">1 - Atualize seus dados cadastrais</p>
                            <p class="lead">
                                @Html.ActionLink("Atualizar Dados Cadastrais", "Edit", "Convocado", new { id = ViewBag.dadosConvocado.ConvocadoId }, null)
                            </p>
                            <hr class="my-4">
                            <p class="lead">2 - Leia e imprima a documentação necessária para a sua apresentação.</p>
                            <p class="lead">Lista de Documentos para apresentação:</p>
                            @foreach (var itens in ViewBag.ListaDocumentacao)
                            {
                                <p>
                                    <a href="@Url.Content("~/Convocacao/Download?arquivo=" + itens.Path)">@itens.Descricao</a>
                                </p>
                            }
                            <p>
                                <hr class="my-4">

                            <p class="lead">3 - Faça o upload dos arquivos obrigatórios.</p>
                            <p class="lead">
                                @Html.ActionLink("Upload dos documentos.", "Index", "DocumentoCandidato", new { id = ViewBag.dadosConvocado.ConvocadoId, ProcessoId = ViewBag.dadosProcesso.ProcessoId }, null)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
