@model SisConv.Infra.CrossCutting.Identity.Model.RegisterViewModel

@{
    ViewBag.Title = "PrimeiroAcesso";
    Layout = "~/Views/Shared/_LayoutPrimeiroAcesso.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="~/Scripts/PrimeiroAcesso.js"></script>
<script>
    $(document).ready(function($) {
        $("#Cnpj").mask("00.000.000/0000-00", { reverse: true });
        $("#Telefone").mask('(00) 00000-0000');
    })
</script>

@using (Html.BeginForm("PrimeiroAcesso", "Account", FormMethod.Post, new {id = "form"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="jumbotron" id="painel1" style="display: none">
            <h1>Bem-Vindo ao Sistema de Convocações</h1>
            <p>Esta é a primeira vez que o Sistema de Convocações está sendo executado e precisamos coletar algumas informações antes de prosseguir, Está pronto?</p>
            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel2">Prosseguir</a>
            </p>
        </div>

        <div class="jumbotron" id="painel2" style="display: none">
            <p>Sistema de Convocações</p>
            <p>Primeiro vamos coletar alguns dados pessoais.</p>
            <h3 id="mensagem_painel2" style="color: red"></h3>
            <p>
                @Html.LabelFor(model => model.Nome, new {@class = "control-label", style = "font-size: 23px; !important"})
            </p>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nome, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Nome, "", new {@class = "text-danger"})
                </div>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel3">Próximo</a>
            </p>
        </div>

        <div class="jumbotron" id="painel3" style="display: none">
            <p>Sistema de Convocações</p>
            <h3 id="mensagem_painel3" style="color: red"></h3>
            <p>@Html.LabelFor(model => model.Email, new {@class = "control-label", style = "font-size: 23px; !important"})</p>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel4">Próximo</a>
            </p>
        </div>

        <div class="jumbotron" id="painel4" style="display: none">
            <p>Sistema de Convocações</p>
            <h3 id="mensagem_painel4" style="color: red"></h3>
            <p>@Html.LabelFor(model => model.Empresa, new {@class = "control-label", style = "font-size: 23px; !important"})</p>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Empresa, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Empresa, "", new {@class = "text-danger"})
                </div>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel5">Próximo</a>
            </p>
        </div>

        <div class="jumbotron" id="painel5" style="display: none">
            <p>Sistema de Convocações</p>

            <p>@Html.LabelFor(model => model.Cnpj, new {@class = "control-label", style = "font-size: 23px; !important"})</p>
            <h3 id="mensagem_painel5" style="color: red"></h3>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cnpj, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Cnpj, "", new {@class = "text-danger"})
                </div>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel6">Próximo</a>
            </p>
        </div>

        <div class="jumbotron" id="painel6" style="display: none">
            <p>Sistema de Convocações</p>
            <h3 id="mensagem_painel6" style="color: red"></h3>
            <p>@Html.LabelFor(model => model.Telefone, new {@class = "control-label", style = "font-size: 23px; !important"})</p>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefone, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Telefone, "", new {@class = "text-danger"})
                </div>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel7">Próximo</a>
            </p>
        </div>

        <div class="jumbotron" id="painel7" style="display: none">
            <p>Sistema de Convocações</p>
            <h3 id="mensagem_painel7" style="color: red"></h3>
            <p>@Html.LabelFor(model => model.Imagem, new {@class = "control-label", style = "font-size: 23px; !important"})</p>
            <div class="form-group">
                <div class="col-md-10">

                    <input type="file" name="Imagem" id="Imagem" class="form-control"/>
                    @Html.ValidationMessageFor(model => model.Imagem, "", new {@class = "text-danger"})
                    @Html.HiddenFor(model => model.Ativo, new {Value = true})
                </div>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel8">Próximo</a>
            </p>
        </div>

        <div class="jumbotron" id="painel8" style="display: none">
            <p>Sistema de Convocações</p>
            <h3 id="mensagem_painel8" style="color: red"></h3>
            <p>@Html.LabelFor(model => model.Password, new {@class = "control-label", style = "font-size: 23px; !important"})</p>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                    @Html.HiddenFor(model => model.ConfirmPassword, new {Value = ""})
                </div>
            </div>
            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel9">Próximo</a>
            </p>
        </div>

        <div class="jumbotron" id="painel9" style="display: none">
            <p>Sistema de Convocações</p>
            <h2>Tudo pronto. Vamos começar?</h2>

            <p>
                <a class="btn btn-primary btn-lg" id="seguir_painel10">Próximo</a>
            </p>
        </div>
    </div>
}