@model IEnumerable<SisConv.Application.ViewModels.ListaDocumentosViewModel>

@{
    Layout = "~/Views/Shared/Processos/LayoutProcessosPainel.cshtml";
    ViewBag.Title = "Lista de Documentos";
}

<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><b>@ViewBag.Title</b></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Inscricao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Curso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Path)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TipoDocumento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataPostagem)
                            </th>

                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Inscricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Curso)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Path)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataPostagem)
                                </td>
                                <td>
                                    @Html.ActionLink("Download", "Download", "DocumentoCandidato", new { DocumentoCandidatoId = item.DocumentoCandidatoId }, null)

                                </td>
                            </tr>
                        }                       
                    </table>
                    <div>
                        <button type="button" class="btn btn-secondary" title="" data-placement="left" onclick="history.back();">Voltar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
