@model IEnumerable<SistemaDeConvocacoes.Application.ViewModels.TipoDocumentoViewModel>

@{
    Layout = "~/Views/Shared/Processos/Configuracoes/_LayoutProcessosConfiguracoes.cshtml";
    ViewBag.Title = "Tipo de Documento Para Envio do Candidato";
}

<div class="col-lg-12">
   
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewBag.dadosProcesso.Nome - @ViewBag.Title</h6>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="panel-body">
                                <div class="col-lg-12">                                   
                                    @Html.ActionLink("Incluir", "Create", new { @Id = @ViewBag.dadosProcesso.ProcessoId }, null)
                                </div>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TipoDocumentos)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ativo)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TipoDocumentos)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ativo)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Editar", "Edit", new { id = item.TipoDocumentoId }) |
                                                @Html.ActionLink("Excluir", "Delete", new { id = item.TipoDocumentoId })
                                            </td>
                                        </tr>
                                    }

                                </table>
                                <div>
                                    <button type="button" class="btn btn-secondary" title="" data-placement="left" onclick="history.back();">Voltar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

